.form-control,
.form-select,
textarea {
  border: 2px solid #b14910 !important;
  box-shadow: none;
}

.form-control:focus,
.form-select:focus,
textarea:focus {
  border-color: #b14910 !important;
  outline: none;
  box-shadow: 0 0 0 0.25rem rgba(177, 73, 16, 0.4);
}

.btn-verrde {
  background-color: #2e7d32;
  color: white;
  border: none;
}

.btn-verrde:hover {
  background-color: #1b5e20;
}

.btn-verde {
  background-color: #2e7d32;
  color: white;
  border: none;
}

.btn-verde:hover {
  background-color: #1b5e20;
}

.form-label {
  font-weight: 600;
}

.btn-guardar-recurso {
  font-size: 1.1rem;         /* tamaño del texto */
  padding: 0.7rem 1rem;  /* tamaño más compacto */
  border-radius: 8px;
  background-color: #b14910;
  color: #ffff;
}

.btn-guardar-recurso:hover {
  background-color: #9b3f0e;
  color: #ffff;
}

/* Botón verde para agregar subcategoría */
.btn-agregar-subcategoria {
  background-color: #28a745;   /* verde Bootstrap */
  color: #fff;
  font-weight: 600;
  border-radius: 6px;
  padding: 0.45rem 1rem;
  border: none;
  transition: background-color 0.2s ease-in-out;
}

.btn-agregar-subcategoria:hover {
  background-color: #218838;   /* verde más oscuro */
  color: #fff;
}

#btnAbrirModalSubcategoria i {
  color: #e9e9e9; /* tu naranja corporativo */
  font-size: 1.2rem; /* opcional: agrandar el ícono */
}

.btn-mas {
  height: 47px;
  background-color: #b14910;
  padding: 10px;
  padding-top: 8px;
}

.btn-mas:hover {
  height: 47px;
  background-color: #8f3a0d;
  padding: 10px;
  padding-top: 8px;
}


.form-sub {
  min-height: 32px !important;
}

.btn-volver {
  background-color: #d3401b;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  font-weight: 500;
  color: #ffff;
  border-radius: 6px;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.btn-volver:hover {
  background-color: #ac3416;
  transform: translateX(-2px);
  color: #ffff;
}

.icono-volver {
  height: 20px;
  width: 20px;
  flex-shrink: 0;
}

input.form-control,
select.form-select {
  border: 2px solid #b14910;
  box-shadow: none;
  height: 47px !important;
}

.header-subcat {
  background-color: #b14910;
  color:#e9e9e9;
}

.btn-guardar-subcat {
  background-color: #b14910;
  color:#e9e9e9;
}