input[type="date"].form-control {
  border: 2px solid #b14910;
  box-shadow: none;
}

input[type="date"].form-control:focus {
  border-color: #b14910;
  outline: none;
  box-shadow: 0 0 0 0.15rem rgba(245, 124, 0, 0.25);
}

.btn-filtro {
  background-color: #b14910;
  color: #fff;
  font-weight: 500;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

.btn-filtro:hover {
  background-color: #943d0e;
}

.btn-pdf {
  background-color: #fbc02d;
  color: #000;
  font-weight: 500;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

.btn-pdf:hover {
  background-color: #f9a825;
}

.btn-volver {
  background-color: #d3401b;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  font-weight: 500;
  color: #fff;
  border-radius: 6px;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.btn-volver:hover {
  background-color: #e0e0e0;
  transform: translateX(-2px);
  color: #000;
}

.icono-volver {
  width: 20px;
  height: 20px;
}
